.search{
	max-width: 1280px;
	margin: 0 auto;
	background: #fff;

}	
.search__wrapper{
	max-width: 1024px;
	margin: 0 auto;
	/*margin-bottom: 74px;*/
}
.search__form{
	
	margin-left: 178px;
	h1{
		margin: 0;
		font-family: helvetica;
		color: #565555;
		font-size: 24px;
		padding-top: 42px;
		margin-bottom: 25px;
	}
}
.search__input{
	min-width: 450px;
	height: 46px;
	border: 1px solid #cacaca;
	border-radius: 6px;
	box-shadow: inset 0 3px 6px 0 #e2dada;
	margin-bottom: 74px;
	outline: none;
	color: #c1bfbf;
	font-size: 16px;
	&:focus{
		border: 2px solid #cacaca;
		border-radius: 6px;
		box-shadow: inset 0 4px 7px 0 #e2dada;
	}
}
.search__browse{
	
	font-size: 18px;
	padding: 5px 16px 7px 16px;
	color: #fff;
	border: none;
	border-radius: 6px;
	background: #c1bfbf;
	z-index: 2;
	position: relative;
	right: 103px;
	cursor: pointer;
	&[value=Browse]{
		font-family: helvetica;
	}
}
.search__upload{
	position: relative;
	right: 90px;
	top: 2px;
	color: #fff;
	font-family: helvetica;
	font-size: 24px;
	background: linear-gradient(to top, #ff6900, #ffa300);
	border: none;
	border-radius: 6px;
	padding: 8px 27px 9px 27px;
	cursor: pointer;
}