nav.header__nav
	.a-wrapper
		a.header__nav-item-home(href="#") Home
	.a-wrapper
		a.header__nav-item-gallery(href="#") Gallery
	.a-wrapper
		a.header__nav-item-logout(href="#") Members
	.a-wrapper
		a.header__nav-item-members(href="#") Logout
	
			
