.search
	.search__wrapper
		form.search__form
			h1 Please select an image from your computer
			input.search__input(type="search" name="search")
			input.search__browse(type="submit" name="browse" value="Browse")
			input.search__upload(type="submit" name="upload" value="Upload image")